.field{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('/src/assets/img/Wood.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-stack{
    position: relative;
    img{
        position: absolute;
        width: 120px;
    }
}
.card-top{
    cursor: pointer;
        transition: all 125ms ease-in-out;
        &:hover{
        transform: scale(1.1) translateY(-10px) translateX(-10px);
    }
}
.playedCards{
   
    transform: scale(1) translateY(-180px) translateX(140px) rotate(-10deg);
}
.playerIcon{
    position: absolute;
    left: 0;
    top: 0;
    
}
.pick-card{
    cursor: pointer;
    animation: pick-Card-Animation 1s ease-in-out;

    transform: scale(1) translateY(-180px) translateX(140px) rotate(-10deg);
}
@keyframes pick-Card-Animation{
    0%{
        transform: scale(1.1)
    }
    40%{
        transform: scale(1.8)
    }
    50%{
        transform: scale(1.8)
    }
    100%{
        transform: scale(1) translateY(-180px) translateX(140px) rotate(-10deg);
    }

}
.btn-add{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.infoCard{
    position: absolute;
    bottom: 20px;
    left: 200px;
    right: 200px;
   
}